{% extends 'homeTemplate.html' %}
{% load staticfiles %}

{% block actions %}
    <li>
        Dodaj plik
    </li>
    <li>
        Nowy katalog
    </li>
    <li>
        Wyloguj
    </li>


{% endblock %}

{% block content %}
    <div class="filesView">
        {% for i in file %}
            <ul>
                <li>{{ i.adres }}</li>
                <li>{{ i.czy_udostepniony }}</li>
                <li>{{ i.nazwa }}</li>
            </ul>
        {% endfor %}
    </div>
    <div>

    </div>
{% endblock %}
