{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registrationStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mainStyle.css' %}">
    <title>CSS - Creating Directory</title>
</head>
<body>
<div class="main_block">
    <form class="jp-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="mybutton" type="submit" name="directory">Create</button>
    </form>
</div>
</body>
</html>