<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
</head>
<body>
    <h1> Page Doesn't Exists. Error 404.</h1>

    <h2>This is not the page you are looking for.
        Either we messed up something or you mistyped the URL.
        Please sit back and relax while our team is working on the issue. Page will be redirected to Home Page automatically after 30 seconds.
        If it doesn't, please click here.</h2>
    <p>This is some text. <img src="../books/static/css/computer-kittens.jpg" align="middle"> This is some text.</p>

</body>
</html>