{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% block cssStore %}

    {% endblock %}
    <title>Cloud</title>
</head>
<body>
    <div class="content">
    <div class="navbar">
        <ul class="actions">
            {% block actions %}

            {% endblock %}
        </ul>
    </div>
    {% block content %}

    {% endblock %}
    </div>
</body>
</html>