{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registrationStyle.css' %}">
    <title>Sign up</title>
</head>
<body>

<div>
    <h3 class="h3">Registration Page</h3>
    <p>Fill in forms to sign up.</p>

    <label class="mylabel" for="username"><b>Username: </b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label class="mylabel" for="username"><b>Password: </b></label>
    <input type="password" placeholder="Enter Password" name="username" required>

    <p id="termsNprivacy">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div>
      <button class="mybutton" type="button">CANCEL</button>
      <button class="mybutton" type="button">SIGN UP</button>
    </div>
</div>

</body>
</html>