{% extends "storageTemplate.html" %}
{% load staticfiles %}

{% block menu_bar %}

{% endblock %}

{% block left_bar %}
    <ul class="menu_items">
        <li>Prześlij plik</li>
        <li>Nowy katalog</li>
    </ul>
    <div class="space">
        <div class="drive_space">
            pojemnosc: 50MB
        </div>
        <div class="left_space">
            wykorzystano 50% pojemnosci
        </div>
    </div>

{% endblock %}

{% block files_list %}
    <table class="table">
        <tr class="description">
            <th>Nazwa</th>
            <th>Rozmiar pliku</th>
            <th>Udostepniony</th>
        </tr>
        {% for i in file %}
            <tr>
                <td>{{ i.nazwa }}</td>
                <td>{{ i.adres }}</td>
                <td>{{ i.czy_udostepniony }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}