{% extends "storageTemplate.html" %}
{% load staticfiles %}
{% load static %}

{% block menu_bar %}
    <div class="user">
        <p>{{ use.get_username }}</p>
        <p>{{ konto.konto }}</p>
        <p>{{ konto.pojemnosc }}</p>
        <p>{{ konto.uzytkownik }}</p>
    </div>
{% endblock %}

{% block left_bar %}
    <ul class="menu_items">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
        <li>Add file</li>
        <li>Add directory</li>
    </ul>
{% endblock %}

{% block files_list %}
        <ul class="table_description">
            <li class="file_name">Nazwa</li>
            <li class="file_size">Rozmiar pliku</li>
            <li class="file_shared">Udostepniony</li>
        </ul>
    <hr>

    <div class="files_list">

    {% for i in file %}
        <ul class="file">
            <a href="{{ i.adres.url }}"><li class="file_name">{{ i.nazwa }}</li></a>
            <!--<li class="file_name">{{ i.nazwa }}</li>-->
            <li class="file_size">{{ i.adres.size }} B</li>
            <li class="file_shared">{{ i.czy_udostepniony }}</li>
        </ul>
        <hr><hr>
    {% endfor %}

    </div>
{% endblock %}