body {
    background: ghostwhite url(background.jpg) no-repeat;
    background-size: cover;

}

.navbar {
    height: 150px;
    font-size: 25px;
    font-weight: bold;
    font-family: FreeMono;
}

.actions {
    list-style-type: none;
    margin: 0 auto;
    display: table;
    height: inherit;
}

.actions > li {
    float: left;
    display: table-cell;
    padding: 25px;
}

.actions > li > a {
    color: yellow;
}