body {
    padding: 10px;
}

.left_dock {
    position: fixed;
    left: 0;
    top: 10%;
    height: 90%;
    width: 20%;
    background-color: greenyellow;
}

.fill_dock {
    position: fixed;
    background-color: yellow;
    left: 20%;
    top: 10%;
    width: 80%;
    height: 90%;
}

.top_dock {
    position: fixed;
    left: 0;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: black;
}

.menu_items {
    list-style-type: none;
}

.menu_items > li {
    overflow: auto;
    padding: 25px 10px;
}

.table_description {
    display: table;
    margin: 15px 5px;
    list-style-type: none;
    width: inherit;
    overflow-x: scroll;
}

.table_description > li {
    float: left;
}

.file_name {
    width: 60%;
}

.file_size {
    width: 30%;
}

.file_shared {
    width: 10%;
}

.files_list {
    list-style-type: none;
}

.file {
    list-style-type: none;
    width: inherit;
}