body {
    padding: 10px;
    background-image: url("background_main.png");
    font-family: Roboto;
    font-size: medium;
}

h4 {
    font-weight: bold;
}

#icon-iconBack {
    font-size: xx-large;
}

.mybutton:hover {
    background-color: rgba(240, 248, 255, 1);
    border: 2px solid DodgerBlue;
    color: black;
}

.left_dock {
    background-color: rgba(240, 248, 255, .9);
    position: fixed;
    left: 0;
    top: 10%;
    height: 90%;
    width: 20%;
}

.fill_dock {
    position: fixed;
    background-color: rgba(240, 248, 255, .5);
    overflow: scroll;
    left: 20%;
    top: 10%;
    width: 80%;
    height: 90%;
}

.top_dock {
    position: fixed;
    left: 0;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: black;
}

.user {
    color: rgba(240, 248, 255, 1);
    text-align: center;
}

.menu_items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu_items > li {
    overflow: auto;
    font-weight: bold;
    text-align: center;
}

.menu_items > li > a {
    display: block;
    color: midnightblue;
    padding: 10px 10px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.menu_items > li > a:hover {
    background-color: DodgerBlue;
    color: white;
}

.account_info {
    padding: 10px;
}

.table_description {
    font-weight: bold;
    display: table;
    margin: 15px 5px;
    list-style-type: none;
    width: inherit;
    overflow-x: scroll;
}

.table_description > li {
    float: left;
}

.file_name {
    width: 60%;
}

.file_size {
    width: 25%;
}

.file_shared {
    width: 10%;
}

.file_id {
    width: 5%;
}

.files_list {
    list-style-type: none;
    margin: 5px 15px;
    width: inherit;
}

.file > li {
    display: block;
    float: left;
}

.file {
    list-style-type: none;
    display: block;
    width: 100%;
    height: 20px;
}

.file > a {
    width: 60%;
    float: left;
}

.eventButton {
    width: 10%;
    display: table-cell;
    float: left;
    background-color: black;
}

.eventButton > a {
    width: 20%;
    text-decoration: none;
}

.folder_list {
    max-height: 300px;
    margin: 50px;
    width: 80%;
    overflow-y: auto;
}
